<div class="technikon-btn">
  <button class="technikon-btn" (click)="goToHome()">Technikon</button>
</div>

<div class="homepage">
  <h2 class="welcome-message">Pending Repairs</h2>
  <div>
    <button (click)="getRepairs()" class="btn">Get Pending Repairs</button>
  </div>
  <!-- {{repairs | json}} -->
  <div *ngIf="repairs.length > 0"><br/>

    <h3 class="welcome-message2">Pending Repairs:</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Repair ID</th>
          <th>Repair Type</th>
          <th>Short Description</th>
          <th>Repair Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repair of repairs">
          <td>{{ repair.repairId }}</td>
          <td>{{ repair.repairType }}</td>
          <td>{{ repair.shortDescription }}</td>
          <td>{{ repair.repairStatus }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
